@use '../abstracts';

* {
  font-family: abstracts.$font;
}

.flex {
  display: flex;

  // justify content, center
  &-jc-c {
    justify-content: center;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  //align-items, center
  &-ai-c {
    align-items: center;
  }
}

.container {
  padding: 1rem 8rem;

  @include abstracts.breakpoint-down(medium) {
    padding: 1rem;
  }
}
