@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

// colors
$dark-blue: hsl(209, 23%, 22%); //Dark Mode Elements
$dark-gray: hsl(0, 0%, 52%); //Light Mode Input
$very-dark-blue: hsl(200, 15%, 8%); //Dark Mode Background
$very-dark-blue-text: hsl(207, 26%, 17%); //Light Mode Text
$very-light-gray: hsl(0, 0%, 98%); //Light Mode Background
$white: hsl(0, 0%, 100%); //Dark Mode Text & Light Mode Elements

// font
$font: 'Nunito Sans', sans-serif;
$font-md: 0.875rem; //14px
$font-reg: 1rem; //16px
