@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

// colors
$dark-blue: hsl(209, 23%, 22%);
$dark-gray: hsl(0, 0%, 52%);
$very-dark-blue: hsl(200, 15%, 8%);
$very-dark-blue: hsl(207, 26%, 17%);
$Very-light-gray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

// font
$font: 'Nunito Sans', sans-serif;
$home-font-size: 0.875rem;
$detail-font-size: 1rem;
